<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>DBS Bank Analysis</h2>
        <h4>AI-Powered Stock Price & Risk Prediction Assessment Using ARIMA, Value at Risk and Sharpe Ratio.</h4>
        {% if error %}
        <p style="color: red;">Error: {{ error }}</p>
        {% endif %}
        <form action="/dbs_predict" method="post">
            <input type="submit" value="ARIMA Stock Price Prediction">
        </form>
        <form action="/dbs_risk" method="post">
            <input type="submit" value="Risk Analysis (VaR & Sharpe Ratio)">
        </form>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>