<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Food Expenditure Prediction</h2>
        <h4>Enter your weekly salary and our trained machine learning model will predict your expected food expenditure based on historical data patterns.</h4>
        <form action="/foodExp" method="post">
            <input type ="number" step ="1" name="q">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>