<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ethical Test: Question {{ q.id }} of {{ total }}</h2>
        <h4>{{ q.question }}</h4>
        <form action="/ethics_answer" method="post">
            <input type="hidden" name="qnum" value="{{ q.id }}">
            <input type="hidden" name="score" value="{{ score }}">
            <input type="hidden" name="answer" value="True">
            <input type="submit" value="True">
        </form>
        <form action="/ethics_answer" method="post">
            <input type="hidden" name="qnum" value="{{ q.id }}">
            <input type="hidden" name="score" value="{{ score }}">
            <input type="hidden" name="answer" value="False">
            <input type="submit" value="False">
        </form>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>